<div class="game-container">
    <h1>Tic-Tac-Toe</h1>
    <p>
        <h3 class="@(isGameOver ? "game-over" : string.Empty)">
            @info
        </h3>
        <span class="number-of-turns">
            Number of turns taken: @numberOfTurns
        </span>
    </p>
    <div id="gameboard">
        @for (int i = 0; i < 9; ++i)
        {
            var key = squares.Keys.FirstOrDefault(k => k == i);
            <div class="square"
                 id="@($"square{key}")"
                 @onclick="@(_ => TakeTurn(key))">
                <div class="@squares[i]">
                </div>
            </div>
        }
    </div>
    <button type="button"
            class="btn btn-danger"
            @onclick="@ResetBoard">
        Reset Board
    </button>
</div>
